http://*:9980 {
	handle /static/* {
		root * /parkour2
		file_server
	}
	handle /protected_media/* {
		root * /parkour2
		file_server
	}
	handle /vue/* {
		reverse_proxy parkour2-vite:5173
	}
	handle /vue-assets/* {
		reverse_proxy parkour2-vite:5173
	}
	handle {
		reverse_proxy parkour2-django:8000
	}
	log
}
