misc/
misc/ollama/
*_dump/
*_dumps/
*.swp
env/
env_*/
sencha-error-*.log
graveyard/
*.patch
models*.pdf
models.png
models.svg
models.dot
backend/static/
backend/coverage_html_report/
backend/playwright/results/playwright-tests-*/
**/.*_cache/
