misc/
*_dump/
*_dumps/
rsnapshot/
*.swp
env/
env_*/
sencha-error-*.log
graveyard/
*.patch
models*.pdf
models.png
models.svg
models.dot
parkour_app/static/
parkour_app/coverage_html_report/
parkour_app/playwright/videos/
parkour_app/playwright/playwright-tests-*/
**/.*_cache/
