misc/*.env.bak
misc/*.pem
misc/*.tar.gz
misc/*-dump.json
misc/*.sqldump
misc/ollama/
*_dump/
*_dumps/
rsnapshot/
*.swp
env/
env_*/
sencha-error-*.log
graveyard/
*.patch
models*.pdf
models.png
models.svg
models.dot
backend/frontend_testing_suite/results/**/trace.zip
.*_cache/
*.ignore
node_modules/
.aider*
