misc/*.env
misc/*.pem
misc/*.txt
misc/*.tar.gz
misc/*-dump.json
misc/*.sqldump
*_dump/
*_dumps/
rsnapshot/
*.swp
env/
env_*/
sencha-error-*.log
graveyard/
*.patch
models*.pdf
models.png
models.svg
models.dot
Dockerfile
parkour_app/static/main-hub/
parkour_app/coverage_html_report/
parkour_app/playwright/videos/
.*_cache/
