misc/*.env
misc/*.pem
misc/*.txt
misc/*.tar.gz
misc/*-dump.json
misc/*.sqldump
*_dump/
*_dumps/
rsnapshot/
*.swp
env/
parkour_app/static/main-hub/ext/build/
sencha-error-*.log
graveyard/
*.patch
models.pdf
models.png
models.svg
models.dot
