backend/static/main-hub/bootstrap.json*
backend/static/main-hub/build
backend/static/js
backend/static/main-hub/.sencha
backend/static/main-hub/ext
backend/static/main-hub/sass
**/*.html
frontend/node_modules
frontend/package-lock.json
frontend/dist
