TIME_ZONE=Europe/Berlin
ADMIN_NAME=admin
ADMIN_EMAIL=your email
EMAIL_HOST=mail.server.tld
EMAIL_SUBJECT_PREFIX=[Parkour]
SERVER_EMAIL=your email
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=change_me__stay_safe
DATABASE_URL=postgres://postgres:change_me__stay_safe@parkour2-postgres:5432/postgres
SECRET_KEY=generate one with: $ openssl rand -hex 32
DJANGO_SETTINGS_MODULE=wui.settings.prod
