.uploaded-request-link {
    font-weight: 600;
}

.request-filegrid .request-file-header {
    height: 25px;
}

.request-filegrid .request-file-header .x-column-header-inner {
    padding: 0 10px;
}

.request-filegrid .x-grid-cell-inner {
    height: 25px;
    padding: 3px 10px 0;
}
