.x-grid-cell.userEntry {
    background-color: #F5EEF8;
    color: #6C3483;
}

.x-grid-cell.facilityEntry {
    background-color: #FDF2E9;
    color: #A04000;
}

.incoming-libraries-group-header {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 33px;
    line-height: 33px;
    margin-top: -8px;
}
