{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
    body {
        background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("{% static 'images/danke.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    div {
      color: white;
      text-align: center;
      background: linear-gradient(to top, transparent 0%, black 100%);
    }
    </style>
{% endblock css %}

{% block title %}
    Parkour LIMS | Seq. Request Approved!
{% endblock title %}

{% block content %}
    <div>
    <br /><br /><br /><br /><br />
    <h2>Thank you!</h2>
    <h3>The request was approved successfully. <br/>
        Sequencing will start as soon as possible, and notification e-mails were sent. <br/>
        <br />If you didn't intend to approve it, please contact: DeepSeq@ie-freiburg.mpg.de</h3>
    <br /><br /><br /><br /><br /><br /><br />
    </div>
{% endblock %}
