{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    body {
        background: url("{% static 'images/login-page-background.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .collapsible {
        display: block;
    }

    .local-login {
        display: none;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
    }

    .footer a:link {
        color: lightgrey;
        text-decoration: none;
    }

    .footer a:visited {
        color: lightgrey;
        text-decoration: none;
    }

    .footer a:hover {
        color: white;
        text-decoration: underline;
    }
</style>
{% endblock css %}

{% block title %}Parkour LIMS | Login{% endblock title %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <p class="lead text-center">Your username and password didn't match. Please try again.</p>
</div>
{% endif %}

<div id="login-form" class="form-signin">
    <h2 class="form-signin-heading">Parkour</h2>
    <h4>Sign in with</h4>

    <form method="get" action="{% url 'oidc_authentication_init' %}" style="opacity:1">
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-default btn-block" style="margin-bottom:10px;text-align:left;">
            <img src="{% static 'images/oidc_provider_logo.png' %}" style="width: 50px; margin-right: 7px;"
                alt="Johannes Gutenberg-Universität Mainz">JGU Mainz
        </button>
    </form>

    <button class="btn btn-default btn-block collapsible" style="text-align:left;">
        <img src="{% static 'main-hub/resources/images/logo1.svg' %}"
            style="width: 50px; margin-right: 7px; filter: invert(100%);" alt="Parkour">Parkour
    </button>

    <form class="form-signin local-login" method="post" action="{% url 'login' %}" style="opacity:1">
        {% csrf_token %}
        <input type="text" class="form-control" id="id_username" name="username" placeholder="Email" required=""
            autofocus="" />
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password"
            required="" />
        <div class="text-center link-forgot-password">
            <a class="" href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>

<div class="footer">
    <a href="https://www.imb.de/impressum-imprint" target="_blank">Impressum</a>
    <a href="https://www.imb.de/datenschutz-data-privacy" target="_blank">Datenschutz</a>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    var button = document.getElementsByClassName("collapsible")[0];
    button.addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
</script>
{% endblock %}