.pooling-grid .nucleotide .x-grid-cell-inner {
    text-align: center !important;
    border: white 1px solid;
}

.pooling-grid .summary-colours .x-grid-cell-inner {
  text-align: center !important;
  padding-left: 0px;
  padding-right: 0px;
}

.pooling-grid .nucleotide-header {
    text-align: center;
}

.x-grid-row-summary .x-grid-cell.problematic-cycle {
    background-color: #ef5350 !important;
    font-weight: bold;
    color: #fff;
}

.x-grid-row-summary .x-grid-cell.problematic-cycle .x-grid-cell-inner {
    text-align: center !important;
    padding-left: 0px;
    padding-right: 0px;
}

.summary-green {
    color: #388e3c;
    font-weight: bold;
}

.summary-red {
    color: #f44336;
    font-weight: bold;
}

.summary-blue {
  color: #4336f4;
  font-weight: bold;
}

.summary-black {
  font-weight: bold;
}

.x-item-disabled {
  &.x-boundlist-item {
    color: #8c8c8c;
    cursor: default;
  }
  &.x-boundlist-item-over {
    background: inherit;
    border-color: white;
  }
}

/* grayed out combobox item */

.obsolete2 {
  color: lightgray;
  background-color: whitesmoke;
  font-style: italic;
}
