{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        body {
            background: url("{% static 'images/login-page-background.jpg' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock css %}

{% block title %}Parkour LIMS | Login{% endblock title %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p class="lead text-center">Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}

<div id="login-form" class="form-signin">
    <h2 class="form-signin-heading">Parkour</h2>
    <h4>Sign in with</h4>
    <a href="{% url 'oidc_authentication_init' %}">
        <button class="btn btn-default btn-block" style="margin-bottom:10px;text-align:left;">
            <img src="{% static 'images/oidc_provider_logo.png' %}" style="width: 50px; margin-right: 7px;"
                alt="Johannes Gutenberg-Universität Mainz">JGU Mainz
        </button>
    </a>
    <a href="{% url 'login_parkour' %}">
        <button class="btn btn-default btn-block" style="text-align:left;">
            <img src="{% static 'main-hub/resources/images/logo1.svg' %}"
                style="width: 50px; margin-right: 7px; filter: invert(100%);" alt="Parkour">Parkour
        </button>
    </a>
</div>

{% endblock %}