{% load i18n %}{% autoescape off %}
<p>Dear {{ pi_name }},</p>

<p>{{ full_name }} requested your approval on this experiment.</p>

{% if message %}
They wrote:<br/>
<hr/><p>{{ message }}</p><hr/>
{% endif %}

<p>
    <b>Please treat the link within this email message as a one-time password,
        scoped for the authorization of this sequencing request.</b>
    
    <br/>To approve it, just forward, or Reply "OK", to this email.
    Then {{ full_name }}, who'd be authenticated within Parkour LIMS,
    can click <a href={{ token_url }}>this special link</a>.
    Afterward, processing will be started right away at the facility.<br/>
</p>

{% if records %}
<p>The list of libraries/samples:</p>
<hr/>
<table style="width:100%;">
    <thead>
        <tr style="font-weight:bold;">
            <td>Name</td>
            <td>Barcode</td>
            <td>Protocol</td>
            <td>Facility Comment</td>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.barcode }}</td>
                <td>{{ record.library_protocol.name }}</td>
                {% if record.comments_facility %}
                    <td>{{ record.comments_facility }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr/>
{% endif %}

<p>
    --<br/>
    <i>This e-mail was sent via Parkour2.</i><br/>
</p>
{% endautoescape %}
