{% load i18n %}
{% autoescape off %}
    <style>
    table {
        width: 100%;
      }
    td.center{
        text-align:center;
        font-weight:bold;
      }
    </style>
    <p>Dear {{ pi_name }},</p>
    <p>
        &emsp; {{ full_name }} requested your approval on this experiment. <b>Please treat <a href={{ token_url }}>this link</a> as a one-time password, scoped for the authorization of this particular sequencing request.</b> Click on it to approve.
        <br />
        &emsp; If you are unable to reach Parkour2 now (e.g. using mobile phone on a train without VPN access), consider forwarding this email to anyone else within the Institute's network, they can click on it (even without an account).
        <br />
        &emsp; <b>If you don't want to approve the sequencing request, ignore this email.</b> Ask {{ full_name }} for any changes, and the re-sending of a new e-mail just like this one (there's going to be a new link, invalidating the current one).
    </p>
    <hr />
    <p>{{ full_name }} wrote:</p>
    <p>&emsp; {{ message }}</p>
    <br />
    {% if records %}
        <hr />
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Barcode</td>
                    <td>Input Type</td>
                    <td>Protocol</td>
                    <td>Length</td>
                    <td>Depth (M)</td>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.barcode }}</td>
                        <td>{{ record.nucleic_acid_type.name }}</td>
                        <td>{{ record.library_protocol.name }}</td>
                        <td>{{ record.read_length }}</td>
                        <td>{{ record.sequencing_depth }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
    {% endif %}
    <p>
        --
        <br />
        <i>This e-mail was sent via Parkour2.</i>
        <br />
    </p>
{% endautoescape %}
