{% load i18n %}
{% autoescape off %}
    <style>
    table {
        width: 100%;
      }
    td.center{
        text-align:center;
        font-weight:bold;
      }
    </style>
    <p>Dear {{ pi_name }},</p>
    <p>
        {{ full_name }} requested your approval on this experiment. <b>Please treat the link within this email message as a one-time password, scoped for the authorization of this sequencing request.</b> To approve it, click <a href={{ token_url }}>this link</a> yourself (assuming you have access to Parkour at the moment, e.g. using VPN while traveling).
        <br />
        Else, just forward -or Reply "OK"- to this email. Then {{ full_name }}, would be authenticated (log-in) within Parkour LIMS, be able click the special link themselves.
        <br />
        Afterward, processing will be started right away at the facility. <b>If you don't want to approve the sequencing request, ignore this email. Ask for any changes, and the re-sending of a new e-mail just like this one (with a new link).</b>
    </p>
    <hr />
    <p>{{ full_name }} wrote:</p>
    <p>{{ message }}</p>
    <br />
    {% if records %}
        <hr />
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Barcode</td>
                    <td>Nucleic Acid Type</td>
                    <td>Protocol</td>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.barcode }}</td>
                        <td>{{ record.nucleic_acid_type.name }}</td>
                        <td>{{ record.library_protocol.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
    {% endif %}
    <p>
        --
        <br />
        <i>This e-mail was sent via Parkour2.</i>
        <br />
    </p>
{% endautoescape %}
