{% extends "base.html" %}
<p>{% block content %}</p>
    <h3>Export Sequencing Request</h3>
    {% if success %}
    <div class="alert alert-success" role="alert">
        Export successful!
    </div>
    {% endif %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {{ errors }}
    </div>
    {% endif %}
    <p>Use the obtained file as a template for swiftly submitting your next sequencing request.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
            <td>Provide a project ID:</td>
            <td>
                <input type="text"
                       class="form-control"
                       name="project-id"
                       pattern="[0-9]+"
                       title="Integer number, most probably 4 digits"
                       required>
            </td>
        </tr>
        <p> Select format of file.</p>
        <p>
            <select name="file-format" class="form-control my-3">
                <option selected>CSV</option>
                <option disabled>JSON</option>
            </select>
            <button class="btn btn-primary" type="submit">Export</button>
        </form>
    </p>
    <a href="{% url 'index' %}">Go back.</a>
{% endblock content %}