<p>Dear {{original.pi.full_name}},</p>

<p>{{original.user.full_name}} has submitted a sequencing request (see below for details),
    which needs to be approved before it can be further processed.</p>

<p>There are two ways you can approve the request:
<ul>
    <li>By accessing <a href="{{base_domain}}">your Parkour account</a>,
        right-clicking on the request and selecting 'Approve'.
    </li>
    <li>By visiting <a href="{{approval_url}}">this link</a>.<br>
        <i>N.B.</i>This link is a one-time approval token that can be used by ANY Parkour
        user. For example, should you be unable to approve the request yourself,
        you can forward it to a relevant substitute. You or the substitute must have a 
        Parkour account to approve the request.
    </li>
</ul>
</p>

<p> By approving this request, you confirm that none of the submitted samples contain
    any disease carrying agents or GMO of risk group 2 or higher, and that they can be
    handled in an S1 laboratory without any safety concerns.</p>
