/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */

.color-mpg-green {
    color: #006c66 !important;
}

.color-bluish-grey {
    color: #29485d !important;
}

.bg-color-beige {
    background-color: #ecebe5 !important;
}

.display-none {
    display: none !important;
}

.header-username {
    font-weight: bold !important;
}

.x-treelist-item-tool,
.x-treelist-navigation .x-treelist-row-over > * > .x-treelist-item-icon {
    transition: all .2s ease-in-out; 
}

.x-treelist-item-tool:hover,
.x-treelist-navigation .x-treelist-row-over > * > .x-treelist-item-icon {
    color: #006c66 !important;
    transform: scale(1.3); 
}

.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row,
.x-treelist-item-selected.x-treelist-item-tool,
.x-treelist-item-selected.x-treelist-item-expanded, 
.x-treelist-item-tool:hover,
.x-treelist-row-over {
    background-color: #dbdbd4 !important;
}

.x-treelist-navigation .x-treelist-item-floated > .x-treelist-row,
.x-treelist-item-tool,
.x-treelist-item-leaf,
.x-treelist-item-expandable {
    background-color: #ecebe5 !important;
}

.x-treelist-item-text,
.x-treelist-item-expander {
    color: #29485d !important;
    font-weight: bold !important;
}