/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */

.color-white {
    color: white !important;
}

.color-bluish-grey {
    color: #adb3b8 !important;
}

.display-none {
    display: none;
}